include dgenerate/icon.ico
include dgenerate/config_icon.ico
recursive-include dgenerate *.json
recursive-include dgenerate/console/themes *.toml
recursive-include dgenerate/console/schemas *.json
recursive-include dgenerate/console/recipes *.recipe
recursive-include dgenerate/extras/hidiffusion/sd_module_key *.txt
recursive-include dgenerate/translators/data *.json
recursive-include dgenerate/pipelinewrapper/hub_configs *.json *.txt *.model